html, body {
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

@font-face {
  font-family: "Kimberley";
  src: url(assets/fonts/ufonts.com_impact.ttf) format("truetype");
  }

body {
  background-color: black;
  }

.header {
  height: 25%;
}

h1 {
  font-family: Impact, sans-serif;
  color: white;
  font-size: 7em;
  text-align: center;
  }

.center {
  min-height: 50%;
  line-height: 500px;
}

.powerup {
  margin: 50px 0px 50px 50px;
}

#loUpgrade, #medUpgrade, #hiUpgrade {
  width: 200px;
  font-family: Impact, sans-serif;
  font-size: 2em;
}

img.resize {
  max-width: 250px;
  border-radius: 20px;
  margin-left: 120px;
}

#winbutton {
  height: 200px;
  margin-top: 150px;
  border: 5px solid #64180f;
  border-radius: 20px;
  background-color: #D93434;
  font-family: Impact, sans-serif;
  font-size: 8em;
}

.modal-content {
  border: 10px white solid;
  background: black;
  color: white;
  font-family: Impact, sans-serif;
  font-size: 4em;
  line-height: 50px;
  text-align: center;
}

#congrats {
  font-size: 2em;
  display: inline-block;
  padding-top: 70px;
}

#success {
  height: 300px;
}

.footer {
  height: 25%;
  font-family: Impact, sans-serif;
  color: white;
  font-size: 5em;
}

#points {
  text-align: left;
}

#elapsed_time {
  text-align: right;
}
